{% extends "base.html" %}
{% block title %}All features{% endblock %}
{% block submenu %}
<ul>
    <li><b>All features</b></li>
    <hr />
    {% for category in object_list %}
    <li><a href="#{{ category|slugify }}">{{ category }}</a></li>
    {% endfor %}
</ul>
{% endblock submenu %}
{% block content %}
    <ul class="treelist">
        {% for category in object_list %}
        <li><a name="{{ category|slugify }}" id="{{ category|slugify }}"></a>
            <a href="#top" class="category">{{ category }}</a>
        <ul>
            {% for feature in category.feature_set.active %}
            <li class="{% cycle 'odd' 'even' %}">
                <a class="feature" href="../{{ feature.id }}">{{ feature }}</a>
                {% with feature.languages.count as feature_count %}
                    ({{ feature_count }} language{{ feature_count|pluralize }})
                {% endwith %}
            </li>
            {% endfor %}
        </ul></li>
        {% endfor %}
    </ul>
{% endblock content %}
