{% extends "base.html" %}
{% load paginator %}
{% block title %}Languages{% endblock %}
{% block submenu %}
{% include "cals/language/_submenu.html" %}
{% endblock submenu %}
{% block content %}
    {% paginator %}
    <ul>
        {% for object in object_list %}
        <li class="{% cycle 'odd' 'even' %}">
            <a href="/language/{{ object.slug }}/">{{ object }}</a>
            {% if not natlang %}
            {% if object.author %}by {{ object.author }}{% endif %} 
            ({{ object.features.count }} feature{{ object.features.count|pluralize }})</li>
            {% endif %}
        {% endfor %}
    </ul>
    {# if page_obj.page_range > 20... #}
    {% paginator %}

{% endblock content %}
