{% extends "base.html" %}
{% load cals_tags %}
{% load paginator %}
{% block submenu %}
{% include "cals/language/_submenu.html" %}
{% endblock submenu %}
{% block content %}
    <form class="search" action="./search" method="get">
    {{ searchform.q }}
    <input type="submit" value="Search" /><br />
    {{ searchform.anywhere }} Search within words
    {{ searchform.limit }} per page
    </form>
    {% if q %}
    <p>Found {{ page_obj.paginator.count }} instance{{ page_obj.paginator.count|pluralize }} 
    {% if not anywhere %}beginning with{% else %}of{% endif %} <b>"{{ q }}"</b></p>
    {% if page_obj.paginator.count %}
    <div class="searchlist">
        {% for object in object_list %}
        <div class="searchitem">
        <div>{% show_lang object %}</div>
        {% if object.alternates %}<div>aka. {{ object.alternates|join:", " }}</div>{% endif %}
        {% if object.background %}<div>{{ object.background }}</div>{% endif %}
        </div>
        {% endfor %}
    {% paginator %}
    </div>
    {% endif %}
    {% endif %}

{% endblock content %}
