{% extends "base.html" %}
{% load cals_tags %}
{% block submenu %}
<ul>
    <li><a href="/language/">All</a></li>
    <li><a href="../">Overview of {{ lang }}</a></li>
    {% comment %}
    <li><b>All</b></li>
    {% endcomment %}
</ul>
{% endblock submenu %}
{% block content %}
    {% if object_list %}
    <h2>Existing translations to {{ lang }}</h2>
    <table>
        <tr>
            <th>Translation</th>
            <th>Original</th>
            <th>{{ lang }}</th>
            <th>Translator</th>
        </tr>
        {% for object in object_list %}
        <tr class="{% cycle odd,even %}">
            <th>{% if user.is_authenticated %}
                {% ifequal object.translator user %}
                <a href="./{{ object.exercise.slug }}/change">{{ object.exercise }}</a>
                {% else %}
                {{ object.exercise }}
                {% endifequal %}
                {% else %}
                {{ object.exercise }}
                {% endif %}
            </th>
            <td>{{ object.exercise.exercise }}</td>
            <td>{{ object }}</td>
            <td>{% showuser object.translator.get_profile %}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>{{ lang }} have no translations here yet.</p>
    {% endif %}
    {% if user.is_authenticated %}
    <h2>You haven't translated the following for {{ lang }} yet</h2>
    <table>
        <tr>
            <th>Translation</th>
            <th>Original</th>
            <th>Translations</th>
        </tr>
        {% for exercise in exercises %}
        <tr>
            <td><a href="./{{ exercise.slug }}/new">{{ exercise }}</a></td>
            <td>{{ exercise.exercise }}</td>
            <td align="right" class="number">{{ exercise.translations.count }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock content %}
