{% extends "base.html" %}
{% load cals_tags %}
{% block submenu %}
<ul>
    <li><a href="/translation/">All</a></li>
    <li><b>{{ exercise }}</b></li>
    {% comment %}
    <li><b>All</b></li>
    {% endcomment %}
</ul>
{% endblock submenu %}
{% block content %}
<h2>{{ exercise }}</h2>
<p>{{ exercise.exercise }}</p>
{% if exercise.comment %}
<p><small>({{ exercise.comment }})</small></p>
{% endif %}
<table>
        <tr>
            <th>Language</th>
            <th>Translation</th>
            <th>Interlinear?</th>
            <th>Translator</th>
        </tr>
        {% for object in object_list %}
        <tr class="{% cycle odd,even %}">
            <th>{{ object.language }}</th>
            <td>
                {% ifequal object.translator request.user %}
                <a href="/language/{{ object.language.slug }}/translations/">{{ object }}</a>
                {% else %}
                {{ object }}
                {% endifequal %}
            </td>
            <td>{% if object.interlinear %}Yes{% else %}No{% endif %}</td>
            <td>{% showuser object.translator.get_profile %}</td>
        </tr>
        {% endfor %}
</table>
{% endblock content %}
