{% extends "base.html" %}
{% load cals_tags %}
{% block title %} Feature: {{ object.name }}{% endblock title %}
{% block submenu %}
<ul>
    <li><a href="../">All features</a></li>
    {% if user.is_authenticated and user.is_staff %}
    <li><a href="./change">Change</a></li>
    {% endif %}
    {% if description %}
    <li><a href="./history/">History</a></li>
    {% endif %}
</ul>
    <hr />
    <form action="" method="post">
        {% csrf_token %}
        <div>{{ cform.feature2 }}</div>
        <div><button type="submit">Compare</button></div>
    </form>
{% endblock submenu %}
{% block content %}
    <h1>{{ object.name }} {% walsfeature object.id %}</h1>
    {{ object.description.freetext_xhtml|safe }}
    <table>
        <tr>
            <th>In-depth description:</th>
            {% if object.wals %}
                {% if not object.description.freetext %}
                <td>Only at {% wals object.id %}</td>
                {% else %}
                <td>At {% wals object.id %}</td>
                {% endif %}
            {% else %}
                {% if object.description.freetext_link %}
                <td><a href="{{ object.description.freetext_link }}">{{ object.description.freetext_link }}</a></td>
                {% endif %}
            {% endif %}
        </tr>
        <tr>
            <th>Values:</th>
            <td>
                <table>
                    <tr>
                        <th>Conlangs:</th>
                    </tr>
                    {% for value in object.values.all %}
                    <tr class="{% cycle odd,even %}">
                        <td><a href="/value/{{ value.id }}">{{ value.name }}</a> 
                            ({{ value.languages.for_conlangs.count }} 
                            language{{ value.languages.for_conlangs.count|pluralize }})</td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <th>Natlangs:</th>
                    </tr>
                    {% for value in object.values.all %}
                    <tr class="{% cycle odd,even %}">
                        <td><a href="/value/{{ value.id }}">{{ value.name }}</a> 
                            ({{ value.languages.for_natlangs.count }} 
                            language{{ value.languages.for_natlangs.count|pluralize }})</td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        <tr>
        <td></td>
        <td colspan="2" style="min-width: 50em">{{ chart|safe }}</td>
        </tr>
    </table>
{% endblock content %}
