{% extends "base.html" %}
{% load cals_tags %}
{% block title %}
{% ifequal comparison_type 'same' %}
Similarities: {{ langs|join:", " }}
{% else %}
{% ifequal comparison_type 'different' %}
Differences: {{ langs|join:", " }}
{% else %}
Comparing: {{ langs|join:", " }}
{% endifequal %}
{% endifequal %}
{% endblock title %}
{% block submenu %}
<ul>  
    <li><a href="../">All</a></li>
    {% if user.is_authenticated %}
    <li><a href="../new">Add</a></li>
    <li><a href="./clone">Clone</a></li>
    {% endif %}
    {% comment %}
    <hr />
    {% for category in categories %}
    <li><a href="#{{ category.name|slugify }}">{{ category.name }}</a></li>
    {% endfor %}
    {% endcomment %}
</ul>
<hr />
<ul>
    <form action="" method="post">
    {% csrf_token %}
    {% for lang in langs %}
    <li><a href="/language/{{ lang.slug }}/">{{ lang }}</a><input class="remove" type="checkbox" name="removelang" value="{{ lang.slug }}" /></li>
    {% endfor %}
    <button type="submit">Remove</button>
    </form>
</ul>
<hr />
<form action="" method="post">
    {% csrf_token %}
    <div>{{ cform.lang2 }}</div>
    <div><button type="submit">Compare</button></div>
    <table>
        <tr>
            <td><input id="compare_all" type="radio" name="compare" value="all" {% if not comparison_type %}checked="checked" {% endif %}/></td>
            <td><label for="compare_all">All</label></td>
        </tr>
        <tr>
            <td><input id="compare_same" type="radio" name="compare" value="same" {% ifequal comparison_type 'same' %}checked="checked" {% endifequal %}/></td>
            <td><label for="compare_same">Same</label></td>
        </tr>
        <tr>
            <td><input id="compare_different" type="radio" name="compare" value="different" {% ifequal comparison_type 'different' %}checked="checked" {% endifequal %}/></td>
            <td><label for="compare_different">Different</label></td>
        </tr>
    </table>
</form>
{% endblock submenu %}
{% block content %}
<table>
    <tr><th>External name:</th>{% for lang in langs %}<th><a href="/language/{{ lang.slug }}/">{{ lang }}</a></th>{% endfor %}</tr>
    <tr><th>Internal name:</th>{% for lang in langs %}<td>{{ lang.internal_name }}</td>{% endfor %}</tr>
    <tr><th>Author(s):</th></th>{% for lang in langs %}<td>{{ lang.author }}</td>{% endfor %}</tr>
    <tr><th>Homepage:</th>{% for lang in langs %}<td>{% if lang.homepage %}<a class="ext" href="{{ lang.homepage }}">yes</a>{% else %}no{% endif %}</td>{% endfor %}</tr>
    <tr><th>Greeting:</th>{% for lang in langs %}<td>{{ lang.greeting }}</td>{% endfor %}</tr>
    <tr><th>Vocabulary size:</th>{% for lang in langs %}<td>{{ lang.vocabulary_size|default:"NA" }}</td>{% endfor %}</tr>
    <tr><th>From earth:</th>{% for lang in langs %}<td>{{ lang.from_earth|yesno:"yes,no,unknown" }}</td>{% endfor %}</tr>
    <tr><th>Averageness of features:</th>{% for lang in langs %}<td>{{ lang.average_score }}/100, 
            {{ lang.num_avg_features }} of {{ lang.num_features }}</td>{% endfor %}</tr>
    <tr><th>Number of features:</th>{% for lang in langs %}<td>{{ lang.num_features }}</td>{% endfor %}</tr>
    <tr><th>Tags:</th>{% for lang in langs %}<td>{{ lang.tags.all|join:", " }}</td>{% endfor %}</tr>
    <tr><th>Editable by all:</th>{% for lang in langs %}<td>{{ lang.public|yesno:"yes,no" }}</td>{% endfor %}</tr>
    {% if lang.added_by %}
    <tr><th>Added by:</th>{% for lang in langs %}<td>{% showuser lang.added_by %}</td>{% endfor %}</tr>
    {% endif %}
    {% if lang.manager %}
    <tr><th>Managed by:</th>{% for lang in langs %}<td>{% showuser lang.manager %}</td>{% endfor %}</tr>
    {% endif %}
    <tr><th>Editors:</th>
        <td>
            <ul>{% for editor in object.editors.all %}
                <li>{{ editor }}</li>
                {% endfor %}</ul>
        </td>
    </tr>
    <tr><th>Added:</th>{% for lang in langs %}<td>{{ lang.created|date:"Y-m-d H:i" }}</td>{% endfor %}</tr>
    <tr><th>Last change:</th>{% for lang in langs %}<td>{{ lang.last_modified|date:"Y-m-d H:i"}}</td>{% endfor %}</tr>
</table>
<h2>Comparing {{ comparison|slice:"1:"|length }} features:</h2>
<table class="feature">
    {% ifequal comparison_type 'same' %}
    {% spaceless %}<tr class="odd"><td></td><th>
    {% with langs|first as lang %}<a href="{{ lang.get_absolute_url }}">{{ lang }}</a>{% endwith %}{% for lang in langs|slice:"1:-1" %}, <a href="{{ lang.get_absolute_url }}">{{ lang }}</a>{% endfor %}
    {% with langs|last as lang %} and <a href="{{ lang.get_absolute_url }}">{{ lang }}</a>{% endwith %}
    </th></tr>{% endspaceless %}
    {% for line in comparison|slice:"1:" %}
    <tr class="feature {% cycle 'even' 'odd' %}">
        <th>{{ line.0 }} {% wals line.0.id %}</th>
        <td>{{ line.1|default:"&#x2013;" }}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr class="odd"><td></td>{% for lang in langs %}<th><a href="{{ lang.get_absolute_url }}">{{ lang }}</a></th>{% endfor %}</tr>
    {% for line in comparison|slice:"1:" %}
    <tr class="feature {% cycle 'even' 'odd' %}">
        <th>{{ line.0 }} {% wals line.0.id %}</th>
        {% for value in line|slice:"1:" %}
        <td>{{ value|default:"&#x2013;" }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    {% endifequal %}
</table>
{% endblock content %}
