{% extends "base.html" %}
{% load cals_tags %}
{% load other_tags %}
{% block title %}
Login
{% endblock title %}
{% block content %}
{% if not request.user.is_authenticated %}
<div id="content">
        <fieldset>
            <legend>Log in with a remote user</legend>
            <a class="button" href="{% url "social:begin" "twitter" %}{% if next %}?next={{ next }}{% endif %}"><img src="{{ STATIC_URL }}img/bird_blue_16.png" /> Connect with Twitter</a>
            <a class="button" href="{% url "social:begin" "github" %}{% if next %}?next={{ next }}{% endif %}"><img src="{{ STATIC_URL }}img/blacktocat-16.png" /> Connect with Github</a>
            <form action="{% url "social:begin" "openid" %}" method="post">{% csrf_token %}
          <div>
            <label for="openid_identifier">OpenId provider</label>
            <input id="openid_identifier" type="text" value="" name="openid_identifier" />
            <input type="submit" value="Login" />
          </div>
        </form>
        </fieldset>
    <form method="post" action=".">
        <fieldset class="loginbox">
            {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
            {% endif %}
            {% csrf_token %}
            <legend>Log in</legend>
            <table>
                <tr>
                    <th><label for="id_username">Username:</label></th>
                    <td><input id="id_username" type="text" name="username" maxlength="30" /></td>
                </tr>
                <tr>
                    <th><label for="id_password">Password:</label></th>
                    <td><input id="id_password" type="password" name="password" maxlength="30" /></td>
                </tr>
                <tr><td></td>
                    <td>
                        <button type="submit" name="login" value="login">Log in</button>
                    </td>
                </tr>
                <tr><td></td><td><a href="/password/reset/">Reset my password</a></td></tr>
            </table>
            <input type="hidden" name="next" value="{{ next }}" />
        </fieldset>
    </form>
</div>
{% else %}
 <p>You're already logged in.</p>
{% endif %}

{% endblock content %}
