{% if is_paginated %}
<div class="pagination">
    <span>
        {% ifnotequal page_obj.first page_obj.number %}
        <b><a href="{{ page_obj.first_querystring }}">|&lt;</a></b>
        {% endifnotequal %}
        {% if page_obj.has_previous %}
        <b><a href="?{{ page_obj.previous_page_querystring }}">&lt;</a></b>
        {% endif %}
        {% for p in page_obj.paginator.pages %}
        {% ifequal p.number page_obj.number %}
        <b class="selected">{{ p }}</b>
        {% else %}
        <b><a href="?{{ p.number_querystring }}">{{ p }}</a></b>
        {% endifequal %}
        {% endfor %}
        {% if page_obj.has_next %}
        <b><a href="?{{ page_obj.next_page_querystring }}">&gt;</a></b>
        {% endif %}
        {% ifnotequal page_obj.last page_obj.number %}
        <b><a href="?{{ page_obj.last_querystring }}">&gt;|</a></b>
        {% endifnotequal %}
    </span>
</div>
{% endif %}
