{% extends "base.html" %}
{% load url from future %}
{% load cals_tags %}
{% load badge_tags %}
{% block title %}{{ object.get_profile.display_name|default:object.username }}'s page{% endblock title %}
{% block submenu %}
<ul>
    <li><a href="../">All people</a></li>
    <li><b>Details</b></li>
    {% ifequal user.id object.id %}
    <li><a href="./change">Change</a></li>
    {% endifequal %}
</ul>
{% if user.is_authenticated %}
<hr />
{% ifequal user.id object.id %}
    <ul>
        <li><a href="./pm/archive/">Archived messages</a></li>
        <li><a href="./pm/sent/">Sent messages</a></li>
    </ul>
    {% if user.marks.faved.count %}
    <hr />
    <h4>Favorites</h4>
    <ul>
    {% for mark in user.marks.faved %}
        <li><a href="{{ mark.content_object.get_absolute_url }}">{{ mark.content_object }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
{% else %}
    <ul>
        <li><a href="./pm/add{% if whereami %}?next={{ whereami }}{% endif %}">Send {{ object.username }} a message</a></li>
    </ul>
{% endifequal %}
{% endif %}
{% endblock submenu %}
{% block content %}
    {% if private %}
    <div class="help private">
    {% if not profile.seen_profile %}
    <h1>Welcome to CALS</h1>

    <p>You have now been signed up, logged in, and can start using
    CALS.</p>
    {% endif %}

    <p>This is your own profile-page. If you want to add or change info about
    yourself, click <a href="./change">Change</a> in the menu to the
    right.</p>

    <p>Any stuff surrounded by a <span class="private">pale green
    border</span> is only visible to you.</p>

    <p>On every page you will find your username, {{ user.username }},
    (or display name{% if profile.display_name %}, {{ profile.display_name }}, {% endif %}
    if you have set this) in the upper right corner of every page, like
    this: {% showuser profile.user %}. Clicking on that will take you
    back here. You can also add languages and change any of the public
    ones, add and change your own translations and send private messages
    to the other people here.</p>

    <p>CALS uses <a href="http://gravatar.com/">Gravatar</a>.
    If you do not store an e-mail address here, or you haven't
    <a href="http://en.gravatar.com/site/signup/">set up a gravatar</a>,
    one will be generated for you.</p>
    </div>
    {% endif %}

    <h1>{% gravatar object 20 %} {{ profile.display_name|default:object.username }}</h1>

    {% if private %}<h2>You</h2>{% endif %}

    <table>
        <tr><th>Username:</th><td>{{ object.username }}</td></tr>
        <tr><th>Link:</th><td><a href="{{ profile.get_absolute_url }}">{{ request.SITE }}{{ profile.get_absolute_url }}</a></td></tr>
        {% ifequal user.username object.username %}
        <tr class="private"><th>Email:</th>
            <td>{% if object.email %}{{ object.email }}{% else %}None registered{% endif %}
                {# <span class="message">Your email-address is only shown to you</span></td> #}
        </tr>
        {% comment %}
        <tr><th>Secret:</th>
            <td>{% if object.secret %}{{ object.secret }}{% else %}None registered{% endif %}
                <span class="message">Your secret is only shown to you</span></td>
        </tr>
        {% endcomment %}
        {% endifequal %}
        {% if profile.homepage %}
        <tr>
            <th>Homepage:</th>
            <td><a class="ext" href="{{ profile.homepage }}">{{ profile.homepage_title|default:profile.homepage }}</a></td>
        </tr>
        {% endif %}
        {% if profile.country %}
        <tr>
            <th>Country:</th>
            <td>{{ profile.country }}
            </td>
        </tr>
        {% endif %}
        {% if profile.native_tongue %}
        <tr>
            <th>L1/First language:</th>
            <td>{{ profile.native_tongue }}
            </td>
        </tr>
        {% endif %}
        <tr><th>Joined:</th>
            <td>{{ object.date_joined|date:"Y-m-d H:i T" }}</td>
        </tr>
        {% if object.languages.count %}
        <tr><th>Languages added:</th>
            <td>
                <ul>
                {% for language in object.languages.all %}
                    <li><a href="/language/{{ language.slug }}/">{{ language }}</a></li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        {% endif %}
        {% if object.manages.count %}
        <tr><th>Manager for:</th>
            <td>
                <ul>
                {% for language in object.manages.all %}
                    <li><a href="/language/{{ language.slug }}/">{{ language }}</a></li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        {% endif %}
        {% if object.edits.all.count %}
        <tr><th>Editor for:</th>
            <td>
                <ul>
                {% for language in object.edits.all %}
                    <li><a href="/language/{{ language.slug }}">{{ language }}</a></li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        {% endif %}
    </table>

    {% if object.translations.count %}
    <h2>Translations ({{ object.translations.count }})</h2>
    <div>
        <table>
        {% for translation in object.translations.all %}
            <tr class="{% cycle odd,even %}">
                <th>{{ translation.exercise }}</th>
                <td>{{ translation.language }}</td>
                <td><a href="/translation/language/{{ translation.language.slug }}/" class="plaintext">{{ translation }}</a></td>
            </tr>
        {% endfor %}
        </table>
    </div>
    {% endif %}

    {% if object.badges.count %}
    <h2>Badges ({{ object.badges.count }})</h2>
    <div>
            {% for badge_row in object.badges.all|partition %}
            <div class="badge-list">
            {% for badge in badge_row %}{% show_badge badge %}{% endfor %}
            </div>
            {% endfor %}
    </div>
    {% endif %}

    {% if private %}
    <div class="private">
    <h2>Connections</h2>
    {% if social_connections %}
    <div>
        <h3>Disconnect from:</h3>
        <ul>
        {% for sc in social_connections %}
        <li><a href="{% url "social:disconnect_individual" sc.provider sc.connection.id %}?next={{ whereami }}"><img src="{{ STATIC_URL }}{{ sc.icon }}" /> {{ sc.provider }}</a></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if potential_social_connections %}
    <div>
        <h3>Connect to:</h3>
        <ul>
        {% for psc in potential_social_connections %}
        <li><a href="{% url "social:begin" psc.provider %}"><img src="{{ STATIC_URL }}{{ psc.icon }}" /> {{ psc.provider }}</a></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}

    <h2>Private messages</h2>
    <div>
        {% if pms %}
        {% for pm in pms %}
        <div class="pm">
        <div class="plaintext">{{ pm.text }}</div>
        <div class="pm-footer">
        sent by {% showuser pm.sender %} at {{ pm.sent }}
        | <a href="{% url 'add_pm' object_id=pm.sender.id %}{% if whereami %}?next={{ whereami }}{% endif %}">send pm</a></a>
        | <a href="{% url 'archive_pm' object_id=pm.recipient.id msgid=pm.id %}{% if whereami %}?next={{ whereami }}{% endif %}">archive</a></a>
        | <a href="{% url 'delete_pm' object_id=pm.recipient.id msgid=pm.id %}{% if whereami %}?next={{ whereami }}{% endif %}">delete</a></a>
        </div>
        </div>
        {% endfor %}
        {% else %}
        None here, {{ pms_archived.count }} in the archive.
        {% endif %}
    </div>
    </div>
    {% endif %}
{% endblock content %}
