{% extends "base.html" %}
{% load cals_tags %}
{% load stats_tags %}
{% block title %}Statistics{% endblock title %}
{% block head %}
<style type="text/css">
g.country {
    stroke: #2b4824 !important;
}
g.country:hover {
    stroke: #222 !important;
    stroke-width: 3 !important;
}
</style>
{% endblock head %}
{% block submenu %}
<p><b>Skip to:</b></p>
<ul>
<li><a href="#quick">#Quick numbers</a></li>
<li><a href="#milestones">#Milestones</a></li>
<li><a href="#people">#Where are we from</a></li>
</ul>
<hr />
<ul>
<li><a href="#vocab">#Vocabulary</a></li>
<li><a href="#letterfreq">#Name</a></li>
<li><a href="#averageness">#Averageness</a></li>
<li><a href="#popular_features">#Most popular features</a></li>
<li><a href="#unused_features">#Unused values for features</a></li>
<li><a href="#featureless">#No features</a></li>
</ul>
{% endblock submenu %}
{% block content %}

<h2><a name="quick"></a>Quick numbers</h2>

<table class="statistics">
    <tr>
        <td class="integer">{{ langs.number }}</td>
        <td></td>
        <td>conlangs</td>
    </tr>
    <tr>
        <td class="integer">{{ langs.number_natlangs }}</td>
        <td></td>
        <td>natlangs</td>
    </tr>
    <tr>
        <td class="integer">{{ langs.features_per_lang|integer }}</td>
        <td class="fraction">.{{ langs.features_per_lang|fraction }}</td>
        <td>features per language, on average</td>
    </tr>
    <tr>
        <td class="integer">{{ langs.percentage_greetings|integer }}</td>
        <td class="fraction">.{{ langs.percentage_greetings|fraction }}%</td>
        <td>of all languages have a greeting</td>
    </tr>
    <tr>
        <td class="integer">{{ langs.percentage_backgrounds|integer }}</td>
        <td class="fraction">.{{ langs.percentage_backgrounds|fraction }}%</td>
        <td>of all languages have a background</td>
    </tr>
    <tr>
        <td class="integer">{{ langs.num_translations }}</td>
        <td></td>
        <td>translations</td>
    </tr>
    <tr>
        <td class="integer">{{ users.number }}</td>
        <td></td>
        <td>people</td>
    </tr>
    <tr>
        <td class="integer">{{ users.langs_per_user|integer }}</td>
        <td class="fraction">.{{ users.langs_per_user|fraction }}</td>
        <td>languages per person, on average</td>
    </tr>
    <tr>
        <td class="integer">{{ users.percentage_countries|integer }}</td>
        <td class="fraction">.{{ users.percentage_countries|fraction }}%</td>
        <td>of all people have set a country</td>
    </tr>
    <tr>
        <td class="integer">{{ users.percentage_lurkers|integer }}</td>
        <td class="fraction">.{{ users.percentage_lurkers|fraction }}%</td>
        <td>of all people are lurkers</td>
    </tr>
    <tr>
        <td class="integer">{{ features.number }}</td>
        <td></td>
        <td>features</td>
    </tr>
    <tr>
        <td class="integer">{{ features.percentage_wals|integer }}</td>
        <td class="fraction">.{{ features.percentage_wals|fraction }}%</td>
        <td>of all features are from WALS</td>
    </tr>
</table>

<h2><a name="milestones"></a>Milestones</h2>

    <dl>
        <dt>{{ milestones.lang100.created|date:"Y-m-d h:iO" }}</dt>
        <dd>100 languages, number 100 is {% show_lang milestones.lang100 %} 
        added by {% showuser milestones.lang100.added_by %}!</dd>
        <dt>{{ milestones.user100.date_joined|date:"Y-m-d h:iO" }}</dt>
        <dd>100 conlangers, number 100 is {% showuser milestones.user100 %}!</dd>
        <dt>{{ milestones.lang150.created|date:"Y-m-d h:iO" }}</dt>
        <dd>150 languages, number 150 is {% show_lang milestones.lang150 %} 
        added by {% showuser milestones.lang150.added_by %}!</dd>
        <dt>{{ milestones.user150.date_joined|date:"Y-m-d h:iO" }}</dt>
        <dd>150 conlangers, number 150 is {% showuser milestones.user150 %}!</dd>
        <dt>{{ milestones.lang200.created|date:"Y-m-d h:iO" }}</dt>
        <dd>200 languages, number 200 is {% show_lang milestones.lang200 %} 
        added by {% showuser milestones.lang200.added_by %}!</dd>
        <dt>{{ milestones.user200.date_joined|date:"Y-m-d h:iO" }}</dt>
        <dd>200 conlangers, number 200 is {% showuser milestones.user200 %}!</dd>
        <dt>{{ milestones.lang250.created|date:"Y-m-d h:iO" }}</dt>
        <dd>250 languages, number 250 is {% show_lang milestones.lang250 %} 
        added by {% showuser milestones.lang250.added_by %}!</dd>
        <dt>{{ milestones.user250.date_joined|date:"Y-m-d h:iO" }}</dt>
        <dd>250 conlangers, number 250 is {% showuser milestones.user250 %}!</dd>
    </dl>

<h2><a name="people"></a>Frequency of conlanger countries</h2>
<table class="statistics">
{% for country in users.country.most_common %}
    <tr><td>{{ country.printable_name }}</td>
        <td class="right">{{ country.count|default:"0" }}</td>
        <td>{% graphline country.count %}</td>
    </tr>
{% endfor %}
</table>

<div style="max-width: 66em">
{{ users.country.map|safe }}
</div>

<h2><a name="vocab"></a>Size of conlang vocabulary</h2>

<p>Limited to vocabularies with {{ langs.vocabulary.upper_bound }} entries or less.</p>

<table class="statistics">
    <tr>
        <td>Smallest vocab</td>
        <td class="integer">{{ langs.vocabulary.min }}</td>
        <td></td>
    </tr>
    <tr>
        <td>Biggest vocab</td>
        <td class="integer">{{ langs.vocabulary.max }}</td>
        <td></td>
    </tr>
    <tr>
        <td>Mean</td>
        <td class="integer">{{ langs.vocabulary.average|integer }}</td>
        <td class="fraction">.{{ langs.vocabulary.average|fraction }}</td>
    </tr>
    <tr>
        <td>Median</td>
        <td class="integer">{{ langs.vocabulary.median }}</td>
        <td></td>
    </tr>
    <tr>
        <td>Mode</td>
        <td class="integer">{{ langs.vocabulary.mode }}</td>
        <td></td>
    </tr>
    <tr>
        <td>Std. Dev.</td>
        <td class="integer">{{ langs.vocabulary.stddev|integer }}</td>
        <td class="fraction">.{{ langs.vocabulary.stddev|fraction }}</td>
    </tr>
</table>

<div style="max-width: 66em">
{{ langs.vocabulary.chart_svg|safe }}
</div>

<p>Most common sizes:</p>
<ul>{% for mode in langs.vocabulary.common %}
<li>{{ mode.1 }}</li>
{% endfor %}</ul>

<p>Outliers:</p>
<ul>
{% for outlier in langs.vocabulary.outliers %}
<li>{{ outlier.name }}: {{ outlier.vocabulary_size }}</li>
{% endfor %}
</ul>

<h2><a name="letterfreq"></a>Most popular first letters of a language name</h2>
<h3>By frequency</h3>
<table>
    <tr>
        <td>
            <h3>Conlangs</h3>
            {% firstletter_stats langs.first_letters.conlangs.letters %}
        </td>
        <td>
            <h3>Natlangs</h3>
            {% firstletter_stats langs.first_letters.natlangs.letters %}
        </td>
    </tr>
</table>
<h3>Alphabetically</h3>
<table>
    <tr>
        <td>
            <h3>Conlangs</h3>
            {% firstletter_stats langs.alpha_letters.conlangs.letters %}
        </td>
        <td>
            <h3>Natlangs</h3>
            {% firstletter_stats langs.alpha_letters.natlangs.letters %}
        </td>
    </tr>
</table>

<h2><a name="averageness"></a>Averageness</h2>
<p>Each language is compared to a set of the most popular values for each feature.</p>
<p>0 is least average, 100 is completely average</p>

<h3>Conlangs</h3>
<ol class="statistics">
{% for lang in langs.most_average %}
<li>
    <span>{{ lang.average_score }}</span>
    <span><a href="/language/{{ lang.slug }}/">{{ lang }}</a>
        ({{ lang.num_avg_features }} of {{ lang.num_features }} feature{{ lang.num_features|pluralize }})</span>
</li>
{% endfor %}
</ol>
<p style="margin-left: 2em">&#x22ee;</p>
<ol class="statistics" start="{{ langs.lma }}">
{% for lang in langs.least_average %}
<li>
    <span>{{ lang.average_score }}</span>
    <span><a href="/language/{{ lang.slug }}/">{{ lang }}</a>
        ({{ lang.num_avg_features }} of {{ lang.num_features }} feature{{ lang.num_features|pluralize }})</span>
</li>
{% endfor %}
</ol>

<h3>Natlangs</h3>
<ol class="statistics">
{% for lang in langs.most_average_natlangs %}
<li>
    <span>{{ lang.average_score }}</span>
    <span><a href="/language/{{ lang.slug }}/">{{ lang }}</a>
        ({{ lang.num_avg_features }} of {{ lang.num_features }} feature{{ lang.num_features|pluralize }})</span>
</li>
{% endfor %}
</ol>

<h2><a name="popular_features"></a>Most popular conlang features</h2>
<table class="statistics">
{% for feature in features.most_used %}
<tr>
    <td><a href="/value/{{ feature.value.id }}/">{{ feature.feature }}: {{ feature.value }}</a></td>
    <td>{{ feature.languages }} language{{ feature.languages|pluralize }}</td>
    <td>{{ feature.percentage|floatformat:1 }}%</td>
</tr>
{% endfor %}
</table>

<h2><a name="common_natlang_features"></a>Most common natlang features</h2>
<table class="statistics">
{% for feature in features.natlang_most_used %}
<tr>
    <td><a href="/value/{{ feature.value.id }}/">{{ feature.feature }}: {{ feature.value }}</a></td>
    <td>{{ feature.languages }} language{{ feature.languages|pluralize }}</td>
    <td>{{ feature.percentage|floatformat:1 }}%</td>
</tr>
{% endfor %}
</table>


<h2><a name="unused_features"></a>Unused values for features ({{ features.num_not_used }})</h2>
<ul class="statistics">
{% for fv in features.not_used %}
    <li><a href="/value/{{ fv.id }}/">{{ fv.feature }}: {{ fv.name }}</a></li>
{% endfor %}
</ul>

<h2><a name="featureless"></a>Conlangs with no features</h2>
<ul>
{% for lang in langs.skeleton_langs %}
<li><a href="/language/{{ lang.slug }}/">{{ lang }}</a></li>
{% endfor %}
</ul>

{% endblock content %}
