{% extends "base.html" %}
{% load cals_tags %}
{% block submenu %}
<ul>
<li>Back to {% showuser user %}</li>
<li>{% ifequal action 'received' %}<b>Received</b>{% else %}<a href="{% url show_pms object_id=user.id %}">Received</a>{% endifequal %}</li>
<li>{% ifequal action 'archive' %}<b>Archive</b>{% else %}<a href="{% url show_archived_pms object_id=user.id %}">Archive</a>{% endifequal %}</li>
<li>{% ifequal action 'sent' %}<b>Sent</b>{% else %}<a href="{% url show_sent_pms object_id=user.id %}">Sent</a>{% endifequal %}</li>
</ul>
{% endblock submenu %}
{% block title %}{{ user }} – Private messages: {{ action }}{% endblock title %}
{% block content %}
    <h1>Messages ({{ action }})</h2>
    <form method="POST" action=".">
    <dl>
    {% for pm in pms %}
    <div class="pm">
        {{ pm.text }}
        <div class="pm-footer">
        {% ifnotequal action 'sent' %}
        sent by <a href="/people/{{ pm.sender.id }}/">{{ pm.sender }}</a>
        {% else %}
        sent to <a href="/people/{{ pm.recipient.id }}/">{{ pm.recipient }}</a> 
        {% endifnotequal %}
        at {{ pm.sent|date:"Y-m-d H:i:s" }}
        | <a href="{% url add_pm object_id=pm.sender.id %}">send pm</a>{% ifequal action 'received' %}
        | <a href="{% url archive_pm object_id=pm.recipient.id,msgid=pm.id %}">archive</a>{% endifequal %}
        | <a href="{% url delete_pm object_id=pm.recipient.id,msgid=pm.id %}">delete</a>
        </div>
    </div>
    {% endfor %}
    </form> 
{% endblock content %}

