{% extends "base.html" %}
{% load cals_tags %}
{% load nano_mark_tags %}
{% load comments_tags %}
{% block title %}Language: {{ object.name }}{% endblock title %}
{% block submenu %}
<ul>  
    <li><a href="..">{{ object.name }}</a></li>
    <li><a href="../../">All</a></li>
    {% if user.is_authenticated %}
    <li><a href="../../new">Add</a></li>
    <li><a href="../clone">Clone</a></li>
    {% if not object.natlang %}
        {% if object.public %}
    <li><a href="../change">Change</a></li>
        {% else %}
            {% ifequal user object.manager %}
    <li><a href="../change">Change</a></li>
            {% endifequal %}
        {% endif %}
    {% endif %}
    {% endif %}
    <li><a href="#comments">Comments</a></li>
</ul>
<hr />
<form action="" method="post">
    {% csrf_token %}
    <div>{{ cform.lang2 }}</div>
    <div><button type="submit">Compare</button></div>
    <table>
        <tr>
            <td><input id="compare_all" type="radio" name="compare" value="all" checked="checked" /></td>
            <td><label for="compare_all">All</label></td>
        </tr>
        <tr>
            <td><input id="compare_same" type="radio" name="compare" value="same" /></td>
            <td><label for="compare_same">Same</label></td>
        </tr>
        <tr>
            <td><input id="compare_different" type="radio" name="compare" value="different" /></td>
            <td><label for="compare_different">Different</label></td>
        </tr>
    </table>
</form>
<hr />
<h4><a href="/translation/language/{{ object.slug }}/">Translations</a></h4>
{% if categories %}
<hr />
<h4>Features</h4>
<ul>
    {% for category in categories %}
    <li><a href="#{{ category.name|slugify }}">{{ category.name }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endblock submenu %}

{% block content %}

<h1>Features for {{ object.name }}</h1>

{% if object.natlang %}
<p>This language is cloned from <a href="{{ object.homepage }}">WALS</a>. If
you need to cite or disagree with any data on this language, you will
have to do so at WALS, not here.</p>
{% endif %}

<table>
<tr>
    <td style="vertical-align: middle; font-weight: bold">{% mark_faved object %}</td>
    <td>{% shareicon %}</td>
</tr>
</table>

<form action="" method="post">
{% csrf_token %}
{% for category in categories %}
<h3><a name="{{ category.name|slugify }}"></a><a href="#top">{{ category.name }}</a></h3>
<table class="feature">
        {% if category.features %}
        {% for feature in category.features %}
    <tr class="feature {% cycle odd,even %}">
        <th><a href="/language/{{ object.slug }}/feature/{{ feature.feature.id }}/">{{ feature.feature }}</a> {% wals feature.feature.id %}</th>
        {#<th><b>{{ feature.feature }}</b> {% wals feature.feature.id %}</th>#}
        <td class="fv">{{ feature.value }}</td>
        {% if not object.natlang %}
        {% if may_edit %}
        <td>
            <a href="/language/{{ object.slug }}/feature/{{ feature.feature.id }}/change">Edit</a>
            <a href="/language/{{ object.slug }}/feature/{{ feature.feature.id }}/delete">Delete</a>
        </td>
        {% endif %}
        {% endif %}
    </tr>
    {% if feature.description %}
    <tr><td colspan="{% if may_edit %}3{% else %}2{% endif %}">{{ feature.description|safe }}</td></tr>
    {% endif %}
        {% endfor %}
        {% endif %}
</table>
{% endfor %}
</form>
<h2 id="comments">Comments:</h2>
<div class="comments">
{% show_comments_tree object %}
{% include 'nano/comments/comment_form_frag.html' %}
</div>
{% load_shareicon_library %}
{% endblock content %}
