{% extends "base.html" %}
{% load paginator %}
{% block title %}Language homepages{% endblock %}
{% block submenu %}
{% include "cals/language/_submenu.html" %}
{% endblock submenu %}
{% block content %}
    <h2>The following {{ object_list.count }} conlangs have their own homepages:</h2>
    {% for object in object_list %}
    <div class="listitem {% cycle 'odd' 'even' %}">
        <h3><a href="/language/{{ object.slug }}/">{{ object }}</a></h3>
        <ul>
            <li>By {{ object.author }}</li>
            <li><a href="{{ object.homepage }}">{{ object.homepage }}</a></li>
        </ul>
    </div>
    {% endfor %}

{% endblock content %}
