<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">{% load cals_tags %}{% load static from staticfiles %}
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/vnd.microsoft.icon" />
    <link rel="stylesheet" type="text/css" href="{% static "css/cals-7.css" %}" />
    <title>CALS: {% block title %}Conlang Atlas of Language Structure{% endblock title %}</title>
{% block head %}
{% endblock head %}
</head>
<body>
<!--[if lt IE 7]><div class="IE"><![endif]-->
    <div id="header">
        <a name="top" id="top"></a>
{% block header %}
    <table>
        <tr>
            <td><h1 id="logo"><a href="/">CALS<sub>β</sub></a></h1></td><td><h1><a href="/">Conlang Atlas of Language Structures</a></h1></td>
            <td id="login" class="right">
                {% if not request.user.is_authenticated %}
                <a class="right" href="/account/login/?next={{ request.get_full_path }}">Log&nbsp;in</a> |
                <a class="right" href="/account/signup/?next={{ request.get_full_path }}">Sign&nbsp;up</a>
                {% endif %}
            </td>
        </tr>
        {% if user.is_authenticated %}
        <tr>
            <td></td>
            <td colspan="2" class="right">
                {% ifequal request.path "/" %}{% greetings user %}{% else %}{% showuser user %}{% endifequal %}&nbsp;{% messages_for_user user %} (<a href="/logout">Log&nbsp;out</a>)
            </td>
        </tr>
        {% endif %}
    </table>
    <div class="nav center">
        <a {% ifequal me 'language' %}class="me" {% endifequal %}href="/language/">Languages</a> |
        <a {% ifequal me 'feature' %}class="me" {% endifequal %}href="/feature/">Features</a> |
        <a {% ifequal me 'translation' %}class="me" {% endifequal %}href="/translation/">Translations</a> |
        <a {% ifequal me 'word' %}class="me" {% endifequal %}href="/word/list/">Words</a> |
        <a {% ifequal me 'people' %}class="me" {% endifequal %}href="/people/">People</a> |
        <a {% ifequal me 'statistics' %}class="me" {% endifequal %}href="/statistics/">Statistics</a>
    </div>
    {% block messages %}
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endblock messages %}
{% endblock header %}
    </div>
{% block no_submenu %}
    <div id="submenu">
{% block submenu %}
{% endblock submenu %}
    </div>
{% endblock no_submenu %}
    <div id="main">
{% block content %}
{% endblock content %}
    </div>
    <div id="footer">
{% block footer %}
        <table class="right">
            <tr>
                <td rowspan="2" class="bgbuffer"><div>&nbsp;</div></td>
                <td class="nav right">
                    <a {% if request.path|startswith:"/badge/" %}class="me"{% endif %} href="/badge/">Badges</a> |
                    <a {% ifequal request.path '/thankyou' %}class="me" {% endifequal %}href="/thankyou">Thanks</a>
                </td>
                <td rowspan="2" width="180">
                    <div id="techfooter" class="right">
                    <a href="http://validator.w3.org/check?uri=referer"><img
                        src="{{ STATIC_URL }}img/valid-xhtml10.png"
                            alt="Valid XHTML 1.0 Strict" height="31" width="88" /></a>
                    <a href="http://jigsaw.w3.org/css-validator/validator?uri=http://cals.conlang.org{{ request.path }}"><img height="31" width="88"
                        src="{{ STATIC_URL }}img/vcss.gif"
                            alt="Valid CSS!" />
                    </a>
                    </div>
                    <div id="develclock">Devel-clock: {% now "H:i O" %}</div>
                </td>
            </tr>
            <tr>
                <td class="nav right">
                    <a {% ifequal request.path '/about/' %}class="me"{% endifequal %} href="/about/">About</a> | 
                    <a {% ifequal request.path '/copyright/' %}class="me"{% endifequal %} href="/copyright/">Copyright</a> |
                    <a {% if request.path|startswith:"/faq/" %}class="me"{% endif %} href="/faq/">FAQ</a> |
                    <a {% if request.path|startswith:"/help/" %}class="me"{% endif %} href="/help/">Help</a> |
                    <a {% ifequal request.path '/privacy/' %}class="me"{% endifequal %} href="/privacy/">Privacy</a> | 
                    <a {% ifequal me 'news' %}class="me"{% endifequal %} href="/news/latest/">News</a> |
                    <a {% ifequal request.path '/terms/' %}class="me"{% endifequal %} href="/terms/">Terms of service</a>
                </td>
            </tr>
        </table>
{% endblock footer %}
    </div>
<!--[if lt IE 7]></div><![endif]-->
<!-- <script type="text/javascript"
    src="{{ STATIC_URL }}js/jquery-1.2.5.min.js"></script>
-->
</body>
</html>
