{% extends "base.html" %}
{% block title %}Changing {{ user }}{% endblock title %}
{% block submenu %}
<ul>
    <li><a href="/language/">All</a></li>
    <li><a href="../../">Details</a></li>
    <li><a href="./change">Change</a></li>
    <li><b>Delete</b></li>
</ul>
{% endblock submenu %}
{% block content %}
<h2>About to delete the translation of "{{ object.exercise.name }}" ({{ object.exercise.category }}) for {{ object.language }} </h2>

<table>
    <tr>
        <th>Original:</th>
        <th class="plaintext">{{ object.exercise.exercise }}</th>
    </tr>
    <tr>
        <th>Translation:</th>
        <td>{{ object.translation }}</td>
    </tr>
    <tr>
        <td></td>
        <td>
            <form action="" method="post"><input type="submit" value="Yes, I'm sure" />
            <a href="../">No, oops, changed my mind</a>
            </form>
        </td>
    </tr>
</table>
{% endblock content %}
