{% extends "base.html" %}
{% load cals_tags %}
{% load stats_tags %}
{% block title %}Statistics{% endblock title %}
{% block submenu %}
<ul>
<li><a href="/statistics/">Quick numbers</a></li>
<li><a href="/statistics/milestones/">Milestones</a></li>
<li><a href="/statistics/averageness/">Averageness</a></li>
<li><a href="/statistics/language_names/">Language Names</a></li>
<li><a href="/statistics/vocabularies/">Vocabularies</a></li>
<li><a href="/statistics/conlangers/">Conlangers</a></li>
<li><a href="/statistics/features/">Features</a></li>
</ul>
{% endblock submenu %}
