{% extends "base.html" %}
{% load cals_tags %}
{% block title %}Feature description: change{% endblock title %}
{% block submenu %}
<ul>  
    <li><a href="../../">All features</a></li>
    <li><a href="../">Back to overview</a></li>
    {% if user.is_authenticated %}
    <li><b>Change description</b></li>
    {% endif %}
</ul>
</ul>
{% endblock submenu %}
{% block content %}
<form action="" method="post">
    <h2>{{ feature.category.name }}: {{ feature.name }}</h2>
    {% if preview %}
    <fieldset>
    <legend>Preview</legend>
    {{ preview|safe }}
    </fieldset>
    {% endif %}
    <h3>Change description</h3>
    {{ form.freetext }}
    <p>{{ form.freetext.errors }}</p>
    {% if feature.wals %}
    <p>Link to even more info: {% wals feature.id %}</p>
    {% else %}
    <p>Link to even more info: {{ form.freetext_link }}{{ form.freetext_link.errors }}</p>
    {% endif %}
    <input type="submit" name="preview" value="Preview" />
    <input type="submit" name="submit" value="Submit" />
</form>
{% endblock content %}
