{% extends "base.html" %}
{% load cals_tags %}
{% block title %} Feature: {{ object.name }}{% endblock title %}
{% block submenu %}
<ul>
    <li><a href="../">All features</a></li>
    {% if user.is_authenticated %}
    <li><a href="./description/">Description</a></li>
    {% endif %}
</ul>
    <hr />
    <form action="" method="post">
        <div>{{ cform.feature2 }}</div>
        <div><button type="submit">Compare</button></div>
    </form>
{% endblock submenu %}
{% block content %}
    <h1>{{ object.name }} {% walsfeature object.id %}</h1>
    {{ object.description.freetext_xhtml|safe }}
    <table>
        {% if object.wals %}
        <tr><th>In-depth description:</th><td>Only at {% wals object.id %}</td></tr>
        {% else %}
        {% if object.description.freetext_link %}
        <tr><th>In-depth description:</th><td><a href="{{ object.description.freetext_link }}">{{ object.description.freetext_link }}</a></td></tr>
        {% endif %}
        {% endif %}
        <tr>
            <th>Values:</th>
            <td></td>
            <td rowspan="{{ object.values.count|add:1 }}" class="graph">{% feature_graph object %}</td>
        </tr>
        {% for value in object.values.all %}
        <tr class="{% cycle odd,even %}">
            <td></td>
            <td><a href="/value/{{ value.id }}">{{ value.name }}</a> 
                ({{ value.languagefeature_set.count }} language{{ value.languagefeature_set.count|pluralize }})</td>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}
