{% extends "base.html" %}
{% load cals_tags %}
{% block submenu %}
<ul>
    <li><a href="/language/">All</a></li>
    <li><b>Kennaway-style</b></li>
    {% comment %}
    <li><b>All</b></li>
    {% if user.is_authenticated %}
    <li><a href="../new">Add</a></li>
    {% endif %}
    {% endcomment %}
</ul>
{% endblock submenu %}
{% block content %}
    {% for object in object_list %}
    <p><b><a href="/language/{{ object.slug }}/">{{ object }}</a></b>: 
    {{ object.background }}</p>
    {% endfor %}
{% endblock content %}
