{% extends "base.html" %}
{% load cals_tags %}
{% block title %} Language: {{ lang.name }}: {{ feature.feature.name }}: {{ feature.value.name }}{% endblock title %}
{% block submenu %}
<ul>
    <li><a href="/language/">All languages</a></li>
    <li><a href="/language/{{ lang.slug }}/">Back to {{ lang }}</a></li>
    <li><b>Overview</b></li>
    {% if user.is_authenticated %}
    {% ifequal user lang.added_by %}
    <li><a href="./change">Change</a></li>
    {% endifequal %}
    {% endif %}
    <li><a href="./history">History</a></li>
</ul>
{% endblock submenu %}
{% block content %}
    <h1>{{ lang.name }}: {{ feature.feature.category.name }}: {{ feature.feature.name }}: {{ feature.value.name }}</h1>
    <table>
        {% if description.freetext_xhtml %}
        {{ description.freetext_xhtml|safe }}
        {% else %}
        <p>Local description missing.</p>
        {% endif %}
        {% if description.freetext_link %}
        <p>Even more info at <a href="{{ description.freetext_link }}">{{ description.freetext_link }}</a></p>
        {% endif %}
    </table>
{% endblock content %}
