{% extends "base.html" %}
{% load cals_tags %}
{% block title %} Language: {{ lang.name }}: {{ feature.feature.name }}: {{ feature.value.name }}: change{% endblock title %}
{% block submenu %}
<ul>  
    <li><a href="/language/">All languages</a></li>
    <li><a href="../../">Back to {{ feature.language }}</a></li>
    <li><a href=".">Back to overview</a></li>
    <li><b>Change</b></li>
</ul>
</ul>
{% endblock submenu %}
{% block content %}
<form action="" method="post">
    <h1>{{ lang.name }}: {{ feature.feature.category.name }}: {{ feature.feature.name }}: {{ feature.value }} </h1>
    {% if preview %}
    <fieldset>
    <legend>Preview</legend>
    <h3>{{ lang.name }}: {{ feature.feature.category.name }}: {{ feature.feature.name }}: {{ preview_value }}</h3>
    {{ preview|safe }}
    </fieldset>
    {% endif %}
    <p>New value: {{ valueform.value }}</p>
    <p>Currently only plaintext can be used here. HTML is stripped away.</p>
    <h3>Change description:</h3>
    {{ form.freetext }}
    <p>{{ form.freetext.errors }}</p>
    <input type="submit" name="preview" value="Preview" />
    <input type="submit" name="submit" value="Submit" />
</form>
{% endblock content %}
