{% extends "base.html" %}
{% load cals_tags %}
{% load comments %}
{% block title %}Language: {{ object.name }}{% endblock title %}
{% block submenu %}
<ul>  
    <li><a href="../">All</a></li>
    {% if user.is_authenticated %}
    <li><a href="../new">Add</a></li>
        {% if object.public %}
    <li><a href="./change">Change</a></li>
        {% else %}
            {% ifequal user object.manager.user %}
    <li><a href="./change">Change</a></li>
            {% endifequal %}
        {% endif %}
    {% endif %}
</ul>
<hr />
<form action="" method="post">
    <div>{{ cform.lang2 }}</div>
    <div><button type="submit">Compare</button></div>
    <table>
        <tr>
            <td><input id="compare_all" type="radio" name="compare" value="all" checked="checked" /></td>
            <td><label for="compare_all">All</label></td>
        </tr>
        <tr>
            <td><input id="compare_same" type="radio" name="compare" value="same" /></td>
            <td><label for="compare_same">Same</label></td>
        </tr>
        <tr>
            <td><input id="compare_different" type="radio" name="compare" value="different" /></td>
            <td><label for="compare_different">Different</label></td>
        </tr>
    </table>
</form>
<hr />
<h4><a href="/translation/language/{{ object.slug }}/">Translations</a></h4>
{% if categories %}
<hr />
<h4>Features</h4>
<ul>  
    {% for category in categories %}
    <li><a href="#{{ category.name|slugify }}">{{ category.name }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endblock submenu %}
{% block content %}
<form action="" method="post">
<table>
    <tr><th>External name:</th><td>{{ object.name }}</td></tr>
    <tr><th>Internal name:</th><td>{{ object.internal_name }}</td></tr>
    <tr><th>Author:</th><td>{{ object.author }}</td></tr>
    <tr><th>Homepage:</th><td><a class="ext" href="{{ object.homepage }}">{{ object.homepage }}</a></td></tr>
    <tr><th>Background:</th><td>{{ object.background }}</td></tr>
    <tr><th>Greeting:</th><td>{{ object.greeting|default:"" }}</td></tr>
    <tr><th>Vocabulary size:</th><td>{{ object.vocabulary_size|default:"NA" }}</td></tr>
    <tr><th>From earth:</th><td>{{ object.from_earth|yesno:"yes,no,unknown" }}</td></tr>
    <tr><th>Averageness:</th><td>{{ object.average_score }}/100, 
            {{ object.num_avg_features }} of {{ object.num_features }}</td></tr>
    <tr><th>Number of features:</th><td>{{ object.num_features }}</td></tr>
    <tr><th>Tags:</th><td>{{ object.tags|wordwrap:16 }}</td></tr>
    <tr><th>Editable by all:</th><td>{{ object.public|yesno:"yes,no" }}</td></tr>
    {% if object.added_by %}
    <tr><th>Added by:</th><td>{% showuser object.added_by %}</td></tr>
    {% endif %}
    {% if object.manager %}
    <tr><th>Managed by:</th><td>{% showuser object.manager %}</td></tr>
    {% endif %}
    {% if object.editors.count %}
    <tr><th>Editors:</th>
        <td>
            <ul>{% for editor in object.editors.all %}
                <li>{% showuser editor %}</li>
                {% endfor %}</ul>
        </td>
    </tr>
    {% endif %}
    <tr><th>Added:</th><td>{{ object.created|date:"Y-m-d H:i" }}</td></tr>
    <tr><th>Last change:</th><td>{{ object.last_modified|date:"Y-m-d H:i"}}</td></tr>
</table>
<h2>Features:</h2>
{% for category in categories %}
<h3><a name="{{ category.name|slugify }}"></a><a href="#top">{{ category.name }}</a></h3>
<table class="feature">
        {% if category.features %}
        {% for feature in category.features %}
    <tr class="feature {% cycle odd,even %}">
        {#<th><a href="/language/{{ object.slug }}/feature/{{ feature.feature.id }}/">{{ feature.feature }}</a> {% wals feature.feature.id %}</th>#}
        <th><b>{{ feature.feature }}</b> {% wals feature.feature.id %}</th>
        <td>{{ feature.value }}
        </td>
    </tr>
        {% endfor %}
        {% endif %}
</table>
{% endfor %}
</form>
{% endblock content %}
