{% extends "base.html" %}
{% block content %}
<form id="signup" action="" method="post">
    {% csrf_token %}
    <table>
        {% for field in form %}
        <tr id="row_{{ field.html_name }}">
            <th>{{ field.label }}{% if field.field.required %}<span class="required">*</span>{% endif %}:</th>
            <td>{{ field }} {% if field.help_text %}<div class="help">{{ field.help_text }}</div>{% endif %}</td>
            <td class="errors">{{ field.errors }}</td>
        </tr>
        {% endfor %}
    </table>
<input type="submit" />
</form>
{% endblock content %}
