{% extends "base.html" %}
{% load cals_tags %}
{% block submenu %}
<ul>
    <li><b>All people</b></li>
</ul>
{% endblock submenu %}
{% block content %}
    <table class="list">
        <tr>
            <th>Conlanger</th><th>Joined</th><th>Languages added</th>
        </tr>
        {% for object in object_list %}
        {% if object.get_profile.is_visible %}
        <tr class="{% cycle odd,even %}">
            <td>{% showuser object %}</td>
            <td>{{ object.date_joined|date:"Y-m-d" }}</td>
            <td class="right">{{ object.languages.count }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
{% endblock content %}
