{% if comments %}
{% load url from future %}
{% load comments_tags %}
<ol>
{% for comment in comments %}
<li>
<div class="comment" id="c{{ comment.id }}" name="c{{ comment.id }}">
    <div>On {{ comment.added }}, {{ comment.user }} wrote:</div>
    <div class="plaintext">{% if comment.comment_xhtml %}{{ comment.comment_xhtml }}{% else %}{{ comment.comment }}{% endif %}</div>
    {#<form action="{% url 'me:comments-post-comment' object_id=object.id %}" method="get">#}
    <form action="./comment/post" method="get">
    <input type="hidden" name="part_of" value="{{ comment.id }}" />
    <input type="submit" name="submit" value="Reply" />
    </form>
</div>
{% if comment.children %}
{% show_comments_subtree comment %}
{% endif %}
</li>
{% endfor %}
</ol>
{% else %}
<p>No comments yet</p>
{% endif %}
