{% extends "languagefeature/base.html" %}
{% load cals_tags %}
{% block title %} Language: {{ language.name }}: {{ feature.name }}: {{ object.value.name }}{% endblock title %}
{% block submenu %}
<ul>
    <li><a href="/language/">All languages</a></li>
    <li><a href="/language/{{ language.slug }}/">{{ language }}</a></li>
    <li><a href=".">{{ feature.name }}</a></li>
    {% if user.is_authenticated and may_edit %}
    <li><a href="../change">Change description</a></li>
    <li><a href="../delete">Delete</a></li>
    {% endif %}
    <li><b>History</b></li>
</ul>
{% endblock submenu %}
{% block content %}
    <h1>{{ language.name }}: {{ feature.name }}: {{ object.value.name }}</h1>
    {% if descriptions %}
        <form action="./compare" method="get">
        <input type="submit" value="Compare" />
        <ul>
        {% for d in descriptions %}
        <li>
        <input type="radio" value="{{ d.id }}" name="oldid"/> 
        <input type="radio" value="{{ d.id }}" name="newid"/> 
        {{ d.last_modified|date:"Y-m-d H:i:s" }}
        {% showuser d.last_modified_by %}
        {% if d.current %} 
        Current
        {% else %}
        {% if user.is_authenticated %}
        {% ifequal user language.manager %}
        (<a href="../use?id={{ d.id }}">Use this one</a>)
        {% endifequal %}
        {% if user.is_superuser %}
        (<a href="./delete?id={{ d.id }}">Remove this one</a>)
        {% endif %}
        {% endif %}
        {% endif %}
        </li>
        {% endfor %}
        </ul>
        <input type="submit" value="Compare" />
        </form>
    {% else %}
        <p>No local descriptions, nothing to compare.</p>
    {% endif %}
{% endblock content %}
