{% extends "languagefeature/base.html" %}
{% load cals_tags %}
{% block title %} Language: {{ language.name }}: {{ feature.name }}: {{ object.value.name }}{% endblock title %}
{% block submenu %}
<ul>
    <li><a href="/language/">All languages</a></li>
    <li><a href="/language/{{ language.slug }}/">{{ language }}</a></li>
    <li><b>{{ feature.name }}</b></li>
    {% if user.is_authenticated and may_edit %}
    <li><a href="./change">Change</a></li>
    <li><a href="./delete">Delete</a></li>
    {% endif %}
    {% if description %}
    <li><a href="./history">History</a></li>
    {% endif %}
</ul>
{% endblock submenu %}
{% block content %}
    <h1>{{ language.name }}: {{ feature.category.name }}: {{ feature.name }}: {{ object.value.name }}</h1>
    {% if description.freetext_xhtml %}
    {{ description.freetext_xhtml|safe }}
    {% else %}
    <p>Local description missing.</p>
    {% endif %}
    {% if description.freetext_link %}
    <p>Even more info at <a href="{{ description.freetext_link }}">{{ description.freetext_link }}</a></p>
    {% endif %}
{% endblock content %}
