{% extends "base.html" %}
{% load cals_tags %}
{% block submenu %}
<ul>
    <li><a href="{% url 'translation-home' %}">All translations</a></li>
    <li><a href="/language/">All languages</a></li>
    <li><a href="/language/{{ lang.slug }}/">Overview of {{ lang }}</a></li>
</ul>
{% endblock submenu %}
{% block content %}
    {% if object_list %}
    <h2>Existing translations to {{ lang }}</h2>
    <table>
        <tr>
            <th>Translation</th>
            <th>Original</th>
            <th>{{ lang }}</th>
            <th>Interlinear?</th>
            <th>Translator</th>
        </tr>
        {% for object in object_list %}
        <tr class="{% cycle odd,even %}">
            <th><a href="{{ object.get_absolute_url }}">{{ object.exercise }}</a></th>
            <td><div class="plaintext">{{ object.exercise.exercise }}</div></td>
            <td><div class="plaintext">{{ object }}</div></td>
            <td>{% if object.interlinear %}Yes{% else %}No{% endif %}</td>
            <td>{% showuser object.translator.get_profile %}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>{{ lang }} have no translations here yet.</p>
    {% endif %}
    {% if user.is_authenticated %}
    <h2>You haven't translated the following for {{ lang }} yet</h2>
    <table>
        <tr>
            <th>Translation</th>
            <th>Original</th>
            <th>Translations</th>
        </tr>
        {% for exercise in exercises %}
        <tr>
            <td><a href="/translation/{{ exercise.slug }}/language/{{ lang.slug }}/new">{{ exercise }}</a></td>
            <td>{{ exercise.exercise }}</td>
            <td align="right" class="number">{{ exercise.translations.count }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock content %}
