{% extends "base.html" %}
{% load cals_tags %}
{% block submenu %}
<ul>
    <li><a href="{% url 'translation-home' %}">All</a></li>
    <li><b>{{ exercise }}</b></li>
    {% comment %}
    <li><b>All</b></li>
    {% endcomment %}
</ul>
{% endblock submenu %}
{% block content %}
<h2>{{ exercise }}</h2>
<p class="plaintext">{{ exercise.exercise }}</p>
{% if exercise.comment %}
<div class="help">{{ exercise.comment|safe }}</div>
{% endif %}
<table>
        <tr>
            <th>Language</th>
            <th>Translation</th>
            <th>Interlinear?</th>
            <th>Translator</th>
        </tr>
        {% for translation in object_list %}
        <tr class="{% cycle 'odd' 'even' %}">
            <th><a href="{{ translation.get_absolute_url }}">{{ translation.language }}</a></th>
            <td>
                {% ifequal translation.translator request.user %}
                <a href="{{ translation.get_update_url }}">{{ translation }}</a>
                {% else %}
                {{ translation }}
                {% endifequal %}
            </td>
            <td>{% if translation.interlinear %}Yes{% else %}No{% endif %}</td>
            <td>{% showuser translation.translator.profile %}</td>
        </tr>
        {% endfor %}
</table>

{% if user.is_authenticated %}
<p>You may translate this exercise into</p>

{% if favorite_langs %}
<h2>Your favorite languages</h2>
<div style="-moz-columns: 18em; columns: 18em; -webkit-columns: 18em">
{% for lang in favorite_langs %}{% if lang %}
<div style="margin-bottom: 1ex"><a href="/translation/{{ exercise.slug }}/language/{{ lang.slug }}/new">{{ lang }}</a></div>
{% endif %}
{% endfor %}
</div>
{% endif %}

<h2>Conlangs you may edit</h2>
<div style="-moz-columns: 18em; columns: 18em; -webkit-columns: 18em">
{% for lang in own_conlangs %}{% if lang %}
<div style="margin-bottom: 1ex"><a href="/translation/{{ exercise.slug }}/language/{{ lang.slug }}/new">{{ lang }}</a></div>
{% endif %}
{% endfor %}
</div>

<h2>Other conlangs</h2>
<div style="-moz-columns: 18em; columns: 18em; -webkit-columns: 18em">
{% for lang in other_conlangs %}{% if lang %}
<div style="margin-bottom: 1ex"><a href="/translation/{{ exercise.slug }}/language/{{ lang.slug }}/new">{{ lang }}</a></div>
{% endif %}
{% endfor %}
</div>

<h2>Natlangs</h2>
<div style="-moz-columns: 18em; columns: 18em; -webkit-columns: 18em">
{% for lang in natlangs %}{% if lang %}
<div style="margin-bottom: 1ex"><a href="/translation/{{ exercise.slug }}/language/{{ lang.slug }}/new">{{ lang }}</a></div>
{% endif %}
{% endfor %}
</div>

{% endif %}
{% endblock content %}
