{% extends "base.html" %}
{% load cals_tags %}
{% block submenu %}
<ul>
    <li><b>All exercises, with newest translation</b></li>
    {% comment %}
    <li><b>All</b></li>
    {% endcomment %}
</ul>
{% endblock submenu %}
{% block content %}
{% for exercise in object_list %}
<dl>
    <dt class="{% cycle 'odd' 'even' %}"><a href="/translation/{{ exercise.slug }}/">{{ exercise }}</a> 
    ({{ exercise.translations.count }} translation{{ exercise.translations.count|pluralize }})
    </dt>
    {% if exercise.translations.count %}
    <dd>
        <table>
            <tr> <th class="langname">English:</th><td class="plaintext">{{ exercise.exercise }}</td></tr>
            <tr>
            {% with exercise.translations.latest as translation %}
                <th class="langname"><a href="{{ translation.get_absolute_url }}">{{ translation.language }}</a>:</th>
                <td class="plaintext">{% ifequal translation.translator user %}<a href="{{ translation.get_update_url }}">{{ translation }}</a>{% else %}{{ translation }}{% endifequal %}</td>
            {% endwith %}
            </tr>
        </table>
    {% comment %}
        <table>
        {% for translation in exercise.translations.all %}
            <tr>
                <td class="langname"><a href="{{ exercise.slug }}/language/{{ translation.language.slug }}/{{ translation.translator.profile.slug }}/">{{ translation.language }}</a>:</td>
                <td>
<div class="plaintext">{% ifequal translation.translator user %}<a href="{{ translation.get_update_url}}">{{ translation }}</a>{% else %}{{ translation }}{% endifequal %}</div>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% endcomment %}
    </dd>
    {% endif %}
</dl>
{% endfor %}
{% endblock content %}
