{% extends "base.html" %}
{% load cals_tags %}
{% block submenu %}
<ul>
    <li><b>All exercises, with newest translation</b></li>
    {% comment %}
    <li><b>All</b></li>
    {% endcomment %}
</ul>
{% endblock submenu %}
{% block content %}
{% for object in object_list %}
<dl>
    <dt class="{% cycle 'odd' 'even' %}"><a href="/translation/{{ object.slug }}/">{{ object }}</a> 
    ({{ object.translations.count }} translation{{ object.translations.count|pluralize }})
    </dt>
    {% if object.translations.count %}
    <dd>
        <table>
            <tr> <th class="langname">English:</th><td class="plaintext">{{ object.exercise }}</td></tr>
            <tr>
            {% with object.translations.latest as translation %}
                <th class="langname"><a href="{{ object.slug }}/language/{{ translation.language.slug }}/{{ translation.translator.profile.slug }}/">{{ translation.language }}</a>:</th>
                <td class="plaintext">{% ifequal translation.translator user %}<a href="/translation/{{ translation.exercise.slug }}/language/{{ translation.language.slug }}/change">{{ translation }}</a>{% else %}{{ translation }}{% endifequal %}</td>
            {% endwith %}
            </tr>
        </table>
    {% comment %}
        <table>
        {% for translation in object.translations.all %}
            <tr>
                <td class="langname"><a href="{{ object.slug }}/language/{{ translation.language.slug }}/{{ translation.translator.profile.slug }}/">{{ translation.language }}</a>:</td>
                <td>
<div class="plaintext">{% ifequal translation.translator user %}<a href="/translation/{{ translation.exercise.slug }}/language/{{ translation.language.slug }}/change">{{ translation }}</a>{% else %}{{ translation }}{% endifequal %}</div>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% endcomment %}
    </dd>
    {% endif %}
</dl>
{% endfor %}
{% endblock content %}
